<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/header.ejs') -%>
</head>

<body>

  <div id="app">
    <theme>
      <memegenerator></memegenerator>
    </theme>
  </div>

</body>
<script type="text/javascript" src="../components/memegenerator.js"></script>
  <%- include('../partials/footerscripts.ejs') -%>
<script>
  console.log(vm);
</script>
</html>
